:root {
    --primary-color-white: #FFFFFF;
    --primary-color-orange: #FF9F0E;
    --primary-color-black: #181817;

    --secondary-color-orange: #FCB62A;
    --secondary-color-white: #FFFAF3;
    --secondary-color-zircon: #F1F3FF;
    --secondary-color-balihai: #839AA9;
    --secondary-color-titanwhite: #F9F9FF;
    --secondary-color-mauve: #D9A6FF;
}