.slider-section {
    text-align: center;
    margin-bottom: 30px;

    &__main-title {
        @media screen and (max-width: $bp-tablet) {
            font-size: 32px;
        }
    }

    &__container {
        display: flex;
        gap: 24px;
        align-items: center;
        justify-content: center;
    }

    &__swiper-container {
        overflow: hidden;
    }

    &__swiper-list {
        margin-bottom: 32px;
    }

    &__item {
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.03);
        }
    }

    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        width: 44px;
        height: 44px;
        border-radius: 50%;
        background-color: var(--secondary-color-balihai);
        border: none;
        cursor: pointer;

        &:hover {
            background-color: var(--primary-color-orange);
        }

        @media screen and (max-width: $bp-mobile) {
            display: none;
        }
    }

    &__button-svg {
        width: 16px;
        height: 16px;

        &--rotate {
            transform: rotate(180deg);
        }
    }


}